<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon"
    href="../assets/images/favicon_io/favicon.ico"
    >
    <link 
    rel="stylesheet"
    href="../style.css"
    >
    <script src="../script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFact</title>
</head>
<body>
    <h1 class="main-title">PawFact</h1>
    <nav class="">
        <ul>
            <li class="highlight-hover"><a href="../pages/about.html">about</a></li>
            <li class="highlight-hover"><a href="">source</a></li>
            <li class="highlight-hover"><a href="">save fact</a></li>
            <li class="highlight-hover"><a href="">link</a></li>
            <li class="highlight-hover"><a href="">link</a></li>
        </ul>
    </nav>
    
    <div class="image-style">
    <img rel="preload" src = "../assets/images/mainCat.jpg" alt="A cute cat glancing" width="200">
</div>

    <footer>
        <p class="highlight-hover">Pawfact is creative common</p>

    </footer>
    
   
    
</body>
</html>

